<h1>OlympicDataCleaning</h1>
<h2>Non Yet Objectives</h2>
<ul>
<li>Mount data</li>
<li>Import libraries</li>
<li>Load the dataset</li>
<li>Filter data</li>
<li>Aggrgate methods</li>
</ul>

<h2>Mount data</h2>

In [39]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<h2>Import Libraries</h2>

In [119]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

<h2>Load the Dataset</h2>
The dataset used in this section are for 4 different mortgages. A mortgage can be either 30 year or 15 year and have different interest rates. Later in the course, you will have to look at data documentation and explore data on your own before you do something with it. The goal of this section is to show you how to filter out data for later analysis.

In [133]:
# Keep in mind that the filename will likely be different on your computer (especially later in course)
filename = '/content/drive/My Drive/PTDataScience/PythonForDataVisualization/data/athlete_events.csv'
df = pd.read_csv(filename)
df.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

<h2>Randomly sample</h2>
Get 30 year mortage payment table data with 3% apr.

In [134]:
# get all unique people
allIDs = df['ID'].unique()

In [135]:
len(allIDs)

135571

In [136]:
sampleIDs = pd.Series(allIDs).sample(frac = .15, random_state=6).values

In [137]:
len(sampleIDs)

20336

In [138]:
# Get sample size of ID
df = df.loc[df['ID'].isin(sampleIDs), :]

In [139]:
df.head()

   ID                      Name  ...                               Event  Medal
4   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN
5   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 1,000 metres    NaN
6   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN
7   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 1,000 metres    NaN
8   5  Christine Jacoba Aaftink  ...    Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [140]:
allButNameSexWeightDF = df.drop(columns=['Name', 'Sex', 'Weight'])

In [141]:
allButNameSexWeightDF.to_csv('/content/drive/My Drive/PTDataScience/PythonForDataVisualization/data/athleteEventsNoPersonal.csv',
                             index = False)

In [142]:
# separate file to be joined in later
df = df.loc[:, df.columns.isin(['Name', 'Sex', 'Weight'])]

In [143]:
df.to_csv('/content/drive/My Drive/PTDataScience/PythonForDataVisualization/data/nameSexWeight.csv',
          index = False)

In [144]:
allButNameSexWeightDF['ID'].value_counts(dropna = False)

119591    36
44875     32
76437     31
133279    30
21462     29
          ..
37600      1
131794     1
72401      1
115402     1
6147       1
Name: ID, Length: 20336, dtype: int64

In [145]:
allButNameSexWeightDF.loc[allButNameSexWeightDF['ID'] == 29686,:]

          ID   Age  ...                                     Event Medal
58015  29686  16.0  ...  Gymnastics Women's Individual All-Around  Gold
58016  29686  16.0  ...        Gymnastics Women's Team All-Around  Gold
58017  29686  16.0  ...         Gymnastics Women's Floor Exercise   NaN
58018  29686  16.0  ...            Gymnastics Women's Uneven Bars   NaN
58019  29686  16.0  ...           Gymnastics Women's Balance Beam   NaN
58020  29686  20.0  ...  Gymnastics Women's Individual All-Around   NaN
58021  29686  20.0  ...        Gymnastics Women's Team All-Around  Gold
58022  29686  20.0  ...         Gymnastics Women's Floor Exercise   NaN
58023  29686  20.0  ...            Gymnastics Women's Uneven Bars   NaN
58024  29686  20.0  ...           Gymnastics Women's Balance Beam   NaN

[10 rows x 12 columns]

<h2>Find average height per individual olympian per year</h2>

In [147]:
allButNameSexWeightDF.groupby(['ID', 'Year'])['Height'].mean()

ID      Year
5       1988    185.0
        1992    185.0
        1994    185.0
6       1992    188.0
        1994    188.0
                ...
135567  2000    183.0
        2004    183.0
135570  2014    176.0
135571  1998    185.0
        2002    185.0
Name: Height, Length: 28189, dtype: float64

<h3>Aggregate Methods </h3>
Summary statistics are useful to understand your dataset better.

<table>
  <colgroup span="4"></colgroup>
  <tbody><tr>
    <th>Aggregate Method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>sum</td>
    <td>sum of values</td>
  </tr>
  <tr>
    <td>cumsum</td>
    <td>cumulative sum</td>
  </tr>    
  <tr>
    <td>mean</td>
    <td>mean of values</td>
  </tr>
  <tr>
    <td>median</td>
    <td>arithmetic median of values</td>
  </tr>
  <tr>
    <td>min</td>
    <td>minimum</td>
  </tr>
  <tr>
    <td>max</td>
    <td>maximum</td>
  </tr>
    <tr>
    <td>mode</td>
    <td>mode</td>
  </tr>
  <tr>
    <td>std</td>
    <td>unbiased standard deviation</td>
  </tr>
    <tr>
    <td>var</td>
    <td>unbiased variance</td>
  </tr>
      <tr>
    <td>quantile</td>
    <td>compute rank-based statistics of elements</td>
  </tr>
    </tbody>
</table>

In [ ]:
df.head()

   Month  Starting Balance  Repayment  ...  New Balance  Mortgage Name  Interest Rate
0      1         400000.00    1686.42  ...    399313.58        30 Year           0.03
1      2         399313.58    1686.42  ...    398625.44        30 Year           0.03
2      3         398625.44    1686.42  ...    397935.58        30 Year           0.03
3      4         397935.58    1686.42  ...    397243.99        30 Year           0.03
4      5         397243.99    1686.42  ...    396550.67        30 Year           0.03

[5 rows x 8 columns]

In [ ]:
df.shape

(360, 8)

In [ ]:
# sum the values in a column
# total amount of interest paid over the course of the loan
df['Interest Paid'].sum()

207106.01

In [ ]:
# sum all the values across all columns
df.sum()

Month                                                           64980
Starting Balance                                          8.28431e+07
Repayment                                                      607111
Interest Paid                                                  207106
Principal Paid                                                 400005
New Balance                                               8.24431e+07
Mortgage Name       30 Year30 Year30 Year30 Year30 Year30 Year30 Y...
Interest Rate                                                    10.8
dtype: object

In [ ]:
# If you look at the Mortgage Name index, the output is what it is because of 
# the + operator producing string concatenation

In [ ]:
'30 Year' + '30 Year'

'30 Year30 Year'